name: Hourly AQI Prediction

on:
  schedule:
    - cron: "0 * * * *"  # Runs at minute 0 of every hour
  workflow_dispatch:      # Allows manual trigger

jobs:
  run_inference:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dagshub mlflow pymongo python-dotenv

      - name: Run Multi-Day Prediction
        env:
          MONGODB_URI: ${mongodb+srv://aqi_user:vA56HDiT4Z8zjxKr@cluster0.2c9uogg.mongodb.net/?appName=Cluster0}
          DAGSHUB_TOKEN: ${fc1a8d0d535c4be5b24e23b5a04df24c5883b4b3}
        run: |
          python -m src.inference.predict_multi_day
