name: Hourly AQI Prediction

on:
  schedule:
    - cron: "0 * * * *"  # Runs at minute 0 of every hour
  workflow_dispatch:      # Allows manual trigger

jobs:
  run_inference:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dagshub mlflow pymongo python-dotenv

      - name: Run Multi-Day Prediction
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          MONGODB_DB: ${{ secrets.MONGODB_DB }}
          MONGODB_COLLECTION: ${{ secrets.MONGODB_COLLECTION }}
          DAGSHUB_USER: ${{ secrets.DAGSHUB_USER }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python -m src.inference.predict_multi_day
